In [1]:
import sys
sys.path.append('..')

import matplotlib.pyplot as plt
import MySignal as sig

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.DataFrame(data={'col1': [0.1, 0.2, 0.2, 0.2], 'col2':[0.1, 0.3, 0.3, 0.3]})
df1

   col1  col2
0   0.1   0.1
1   0.2   0.3
2   0.2   0.3
3   0.2   0.3

In [3]:
df2 = pd.DataFrame(data={'col1': [0.1, 0.1, -0.3, 0.5, 0.1, -0.2, -0.2, 0.6]})
df2

   col1
0   0.1
1   0.1
2  -0.3
3   0.5
4   0.1
5  -0.2
6  -0.2
7   0.6

In [4]:
sig.get_max_drawdown(df2)

col1   -0.36
dtype: float64

In [5]:
df1.sub(df2['col1'], axis=0)

   col1  col2
0   0.0   0.0
1   0.1   0.2
2   0.5   0.6
3  -0.3  -0.2
4   NaN   NaN
5   NaN   NaN
6   NaN   NaN
7   NaN   NaN

In [6]:
df2.max()

col1    0.6
dtype: float64

In [7]:
pd.date_range(start='1980-01-01', end='1980-01-05')

DatetimeIndex(['1980-01-01', '1980-01-02', '1980-01-03', '1980-01-04',
               '1980-01-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = sig.get_bond_returns(['USA'], '1981-01-01', '1981-12-31')

In [19]:
len(df)/2

182.5